HOT_POKER_MODEL_PATH=/root/hot-poker-3/artifacts/hot_poker_3.joblib
HOT_POKER_REPO_URL=https://github.com/BranDonallenLuis/hot_poker_3
WALLET_NAME=replace-with-second-wallet-name
HOTKEY=replace-with-second-hotkey-name
PM2_NAME=hot_poker_3
NETUID=126
NETWORK=finney
AXON_PORT=7028
ALLOWED_VALIDATOR_HOTKEYS=
